<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

    <display-name>BugTracker</display-name>

    <servlet>
        <servlet-name>projectListServlet</servlet-name>
        <servlet-class>controller.project.ProjectListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>myProjects</servlet-name>
        <jsp-file>jsp/myprojects.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>createProject</servlet-name>
        <jsp-file>jsp/createproject.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>createProjectServlet</servlet-name>
        <servlet-class>controller.project.CreateProjectController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>projectServlet</servlet-name>
        <servlet-class>controller.project.ProjectController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>project</servlet-name>
        <jsp-file>jsp/project.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>editProjectServlet</servlet-name>
        <servlet-class>controller.project.EditProjectController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editProject</servlet-name>
        <jsp-file>jsp/editproject.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>removeProjectServlet</servlet-name>
        <servlet-class>controller.project.RemoveProjectController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>issueServlet</servlet-name>
        <servlet-class>controller.issue.IssueController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>issue</servlet-name>
        <jsp-file>jsp/issue.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>editIssueServlet</servlet-name>
        <servlet-class>controller.issue.EditIssueController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editIssue</servlet-name>
        <jsp-file>jsp/editissue.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>removeIssueServlet</servlet-name>
        <servlet-class>controller.issue.RemoveIssueController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>createIssueServlet</servlet-name>
        <servlet-class>controller.issue.CreateIssueController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>createIssue</servlet-name>
        <jsp-file>jsp/createissue.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>postReplyServlet</servlet-name>
        <servlet-class>controller.reply.PostReplyController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logoutServlet</servlet-name>
        <servlet-class>controller.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>userListServlet</servlet-name>
        <servlet-class>controller.user.UserListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>userList</servlet-name>
        <jsp-file>jsp/admin.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>createUserServlet</servlet-name>
        <servlet-class>controller.user.CreateUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>createUser</servlet-name>
        <jsp-file>jsp/createuser.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>userServlet</servlet-name>
        <servlet-class>controller.user.UserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>user</servlet-name>
        <jsp-file>jsp/user.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>editUserServlet</servlet-name>
        <servlet-class>controller.user.EditUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editUser</servlet-name>
        <jsp-file>jsp/edituser.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>removeUserServlet</servlet-name>
        <servlet-class>controller.user.RemoveUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>projectMembersServlet</servlet-name>
        <servlet-class>controller.projectmember.ProjectMemberController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editProjectMembers</servlet-name>
        <jsp-file>jsp/editprojectmembers.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>groupMembersServlet</servlet-name>
        <servlet-class>controller.groupmember.GroupMemberController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addProjectMembersServlet</servlet-name>
        <servlet-class>controller.projectmember.AddProjectMembersController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>removeProjectMemberServlet</servlet-name>
        <servlet-class>controller.projectmember.RemoveProjectMemberController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editProjectMembersServlet</servlet-name>
        <servlet-class>controller.projectmember.EditProjectMembersController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>projectListServlet</servlet-name>
        <url-pattern>/myprojects</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>myProjects</servlet-name>
        <url-pattern>/myprojects.jsp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>createProject</servlet-name>
        <url-pattern>/createproject.jsp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>createProjectServlet</servlet-name>
        <url-pattern>/createproject</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>projectServlet</servlet-name>
        <url-pattern>/project</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>project</servlet-name>
        <url-pattern>/project.jsp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editProjectServlet</servlet-name>
        <url-pattern>/editproject</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editProject</servlet-name>
        <url-pattern>/editproject.jsp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>removeProjectServlet</servlet-name>
        <url-pattern>/removeproject</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>issueServlet</servlet-name>
        <url-pattern>/issue</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>issue</servlet-name>
        <url-pattern>/issue.jsp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editIssueServlet</servlet-name>
        <url-pattern>/editissue</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editIssue</servlet-name>
        <url-pattern>/editissue.jsp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>removeIssueServlet</servlet-name>
        <url-pattern>/removeissue</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>createIssueServlet</servlet-name>
        <url-pattern>/createissue</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>createIssue</servlet-name>
        <url-pattern>/createissue.jsp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>postReplyServlet</servlet-name>
        <url-pattern>/postreply</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>userListServlet</servlet-name>
        <url-pattern>/admin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>userList</servlet-name>
        <url-pattern>/admin.jsp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>createUserServlet</servlet-name>
        <url-pattern>/createuser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>createUser</servlet-name>
        <url-pattern>/createuser.jsp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>userServlet</servlet-name>
        <url-pattern>/user</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>user</servlet-name>
        <url-pattern>/user.jsp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editUserServlet</servlet-name>
        <url-pattern>/edituser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editUser</servlet-name>
        <url-pattern>/edituser.jsp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>removeUserServlet</servlet-name>
        <url-pattern>/removeuser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>projectMembersServlet</servlet-name>
        <url-pattern>/projectmembers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editProjectMembers</servlet-name>
        <url-pattern>/editprojectmembers.jsp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>groupMembersServlet</servlet-name>
        <url-pattern>/groupmembers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addProjectMembersServlet</servlet-name>
        <url-pattern>/addprojectmembers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>removeProjectMemberServlet</servlet-name>
        <url-pattern>/removeprojectmember</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editProjectMembersServlet</servlet-name>
        <url-pattern>/editprojectmembers</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>/myprojects</welcome-file>
    </welcome-file-list>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Secure Area</web-resource-name>
            <url-pattern>/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>valid-user</role-name>
        </auth-constraint>
    </security-constraint>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Create Project</web-resource-name>
            <url-pattern>/createproject</url-pattern>
            <url-pattern>/createproject.jsp</url-pattern>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>Edit Project</web-resource-name>
            <url-pattern>/editproject</url-pattern>
            <url-pattern>/editproject.jsp</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>administrator</role-name>
            <role-name>project-manager</role-name>
        </auth-constraint>
    </security-constraint>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Remove Project</web-resource-name>
            <url-pattern>/removeproject</url-pattern>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>Remove Issue</web-resource-name>
            <url-pattern>/removeissue</url-pattern>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>Admin Panel</web-resource-name>
            <url-pattern>/admin</url-pattern>
            <url-pattern>/createuser</url-pattern>
            <url-pattern>/createuser.jsp</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>administrator</role-name>
        </auth-constraint>
    </security-constraint>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Login Resources</web-resource-name>
            <url-pattern>/css/login.css</url-pattern>
            <url-pattern>/js/sha256.js</url-pattern>
            <url-pattern>/js/hashPassword.js</url-pattern>
        </web-resource-collection>
    </security-constraint>
    
    <login-config>
        <auth-method>FORM</auth-method>
        <form-login-config>
            <form-login-page>/html/login.html</form-login-page>
            <form-error-page>/html/login.html</form-error-page>
        </form-login-config>
    </login-config>

    <security-role>
        <role-name>valid-user</role-name>
    </security-role>

    <security-role>
        <role-name>administrator</role-name>
    </security-role>

    <security-role>
        <role-name>project-manager</role-name>
    </security-role>

    <security-role>
        <role-name>debuger</role-name>
    </security-role>

    <security-role>
        <role-name>tester</role-name>
    </security-role>

</web-app>
