<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
    <display-name>BugTracker</display-name>

    <servlet>
        <servlet-name>projectListServlet</servlet-name>
        <servlet-class>controller.projectController.ProjectListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>myProjects</servlet-name>
        <jsp-file>myprojects.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>createProject</servlet-name>
        <jsp-file>createproject.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>createProjectServlet</servlet-name>
        <servlet-class>controller.projectController.CreateProjectController</servlet-class>
        <security-role-ref>
            <role-name>administrator</role-name>
            <role-link>administrator</role-link>
        </security-role-ref>
        <security-role-ref>
            <role-name>project-manager</role-name>
            <role-link>project-manager</role-link>
        </security-role-ref>
    </servlet>
    <servlet>
        <servlet-name>projectServlet</servlet-name>
        <servlet-class>controller.projectController.ProjectController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>project</servlet-name>
        <jsp-file>project.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>editProjectServlet</servlet-name>
        <servlet-class>controller.projectController.EditProjectController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editProject</servlet-name>
        <jsp-file>editproject.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>removeProjectServlet</servlet-name>
        <servlet-class>controller.projectController.RemoveProjectController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>issueServlet</servlet-name>
        <servlet-class>controller.issueController.IssueController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>issue</servlet-name>
        <jsp-file>issue.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>editIssueServlet</servlet-name>
        <servlet-class>controller.issueController.EditIssueController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editIssue</servlet-name>
        <jsp-file>editissue.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>removeIssueServlet</servlet-name>
        <servlet-class>controller.issueController.RemoveIssueController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>createIssueServlet</servlet-name>
        <servlet-class>controller.issueController.CreateIssueController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>createIssue</servlet-name>
        <jsp-file>createissue.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>postReplyServlet</servlet-name>
        <servlet-class>controller.replyController.PostReplyController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>projectListServlet</servlet-name>
        <url-pattern>/myprojects</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>myProjects</servlet-name>
        <url-pattern>/myprojects.jsp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>createProject</servlet-name>
        <url-pattern>/createproject.jsp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>createProjectServlet</servlet-name>
        <url-pattern>/createproject</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>projectServlet</servlet-name>
        <url-pattern>/project</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>project</servlet-name>
        <url-pattern>/project.jsp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editProjectServlet</servlet-name>
        <url-pattern>/editproject</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editProject</servlet-name>
        <url-pattern>/editproject.jsp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>removeProjectServlet</servlet-name>
        <url-pattern>/removeproject</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>issueServlet</servlet-name>
        <url-pattern>/issue</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>issue</servlet-name>
        <url-pattern>/issue.jsp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editIssueServlet</servlet-name>
        <url-pattern>/editissue</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editIssue</servlet-name>
        <url-pattern>/editissue.jsp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>removeIssueServlet</servlet-name>
        <url-pattern>/removeissue</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>createIssueServlet</servlet-name>
        <url-pattern>/createissue</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>createIssue</servlet-name>
        <url-pattern>/createissue.jsp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>postReplyServlet</servlet-name>
        <url-pattern>/postreply</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>SecureArea</web-resource-name>
            <url-pattern>/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>valid-user</role-name>
        </auth-constraint>
    </security-constraint>
    
    <login-config>
        <auth-method>BASIC</auth-method>
    </login-config>

    <security-role>
        <role-name>valid-user</role-name>
    </security-role>

    <security-role>
        <role-name>administrator</role-name>
    </security-role>

    <security-role>
        <role-name>project-manager</role-name>
    </security-role>

    <security-role>
        <role-name>debuger</role-name>
    </security-role>

    <security-role>
        <role-name>tester</role-name>
    </security-role>

</web-app>
